body {
	background-color: rgb(125, 246, 255);
}

#console {
	width: 100vw;
	display: none;
	padding: 10px;
	position: fixed;
	top: 0;
	background: white;
	text-align: center;
}

.bg-shade {
	background-color: rgba(0,0,0,.05);
}
button.bg-shade:hover {
	background: rgba(0, 0, 0, .15);
}

#darkSkyLogo {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 50px;
	width: auto;
	background-color: black;
}

svg {
	overflow: visible !important;
}