#dayWrapper {
    /* width: 150px;
    height: 175px; */
    padding: 10px 15px;
    border: 1px solid black;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 10pt Helvetica, sans-serif;
    cursor: pointer;
}

#time {
    font-size: 1.2em;
}

#temps {
    display: flex;
    flex-direction: row;
}

#low {
    color: rgb(140, 140, 140);
}