#dayWrapper {
    padding: 10px 15px;
    border: 1px solid black;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 10pt Helvetica, sans-serif;
    cursor: pointer;
}

#time {
    font-size: 1.5em;
}

#temps {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

#low {
    color: rgb(120, 120, 120);
}