#dayInfoWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 20px 20px 20px;
}

#left, #right {
    display: flex;
    flex-direction: column;
}

#right {
    margin-top: 25px;
    margin-right: 100px;
    font-size: 2em;
}

#dow {
    font-size: 3em;
}

#temp {
    font-size: 5.5em;
}

#precipType {
    font-size: 2em;
}