#settingsWrapper {
    /* position: absolute; */
    margin-top: 20px;
    justify-self: flex-start;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;
    background: rgba(0, 0, 0, .05);
}

#F, #C {
    border: none;
    outline: none;
}